In [12]:
print("Hello World") # Control Key + Enter    ##### Shift Key + Enter

Hello World

In [26]:
print('Hello World')
emp_id = 25
emp_id = 25

Hello World

In [18]:
print(x)

25

In [ ]:
j = []
for i in j:
    step1
    step2
    step3
    step4

In [ ]:
# Comment  Case Sensitive <---

In [19]:
emp_id

NameError: name 'X' is not defined

In [40]:
z = 20.2
type(z)

float

In [41]:
print(type(z))

<class 'float'>

In [33]:
print(z) # This is a comment

20.2

In [44]:
str1 = "Hello"
print(str1)
print(type(str1))

str2 = str1 + "World"
print(str2)

Hello
<class 'str'>
HelloWorld

In [50]:
str2[2:5] ### 5 is not number of characters ---> 5 - 1 = element id 4

'llo'

In [55]:
str2[-5:]

'World'

In [62]:
import datetime ###(Class - Method)

datechr = "29-May-2020"
type(datechr)

## Generic Method written inside a class - You dont need to create an instance of the class- directly use the func
## 
datetime.datetime.strptime(datechr , '%d-%b-%Y')

datetime.datetime(2020, 5, 29, 0, 0)

In [66]:
datechr = "10/25/1945"
date1 = datetime.datetime.strptime(datechr ,'%m/%d/%Y' )
print(type(date1))

<class 'datetime.datetime'>

In [68]:
from datetime import datetime as dt    # from datetime package (1) import datetime class and give it a nickname dt
dt.strptime(datechr ,'%m/%d/%Y')

datetime.datetime(1945, 10, 25, 0, 0)

In [71]:
datechr = "01/01/45"   ### Is this 1945? or is it 2045?  - WATCH OUT for LOWER CASE %y
## if the year field < 69 (00 to 68 - attach 20XX ) 
#  if the year field > 68 (69 to 99) - attach 19XX)
date1 = dt.strptime(datechr ,'%m/%d/%y')

In [70]:
datechr1 = "12/31/68" 
datechr2 = "01/01/69"
print ( dt.strptime(datechr1 ,'%m/%d/%y') )
print ( dt.strptime(datechr2 ,'%m/%d/%y') )

2068-12-31 00:00:00
1969-01-01 00:00:00

In [73]:
date2 = dt.strptime(datechr2 ,'%m/%d/%y')
date2

datetime.datetime(1969, 1, 1, 0, 0)

In [77]:
#### dt.strftime() <---- 
date2.strftime('%B %A %Y %m %W')   # date2 is an intance of a class (datetime) - It is an object / can have a method - strftime

'January Wednesday 1969 01 00'

In [89]:
datechar = '23rd Jan 2021'
list1 = datechar.split()
list1

['23rd', 'Jan', '2021']

In [90]:
list1[0][0:-2]

'23'

In [91]:
list1=['EEID-X1234','Manoj',23,dt.strptime('1999-12-12','%Y-%m-%d')]
list1

['EEID-X1234', 'Manoj', 23, datetime.datetime(1999, 12, 12, 0, 0)]

In [ ]:
list2 = [20%,30%,50%,100%]

In [99]:
list1 = [110,123,114,71,113,98,88,79,97]

In [100]:
list1

[110, 123, 114, 71, 113, 98, 88, 79, 97]

In [96]:
list1[5] # Extract specific elements

98

In [102]:
list1.sort(reverse=True)
print(list1)

[123, 114, 113, 110, 98, 97, 88, 79, 71]

In [103]:
list1.append(2000)
print(list1)

[123, 114, 113, 110, 98, 97, 88, 79, 71, 2000]

In [105]:
list1.remove(110)
print(list1)

[123, 114, 113, 98, 97, 88, 79, 71, 2000]

In [106]:
import re

In [140]:
str1 = "There is a problem with the http://somethin/ABCDEF because of SQL injection."
str2 = "blah blah .... There is a problem with the http://somethin/ABCDEF ."

results = re.search("ABCDEF",str2)
print(type(results))

if (results):
    print("I found the string")
    print( results.span() )
else:
    print("I did not find")

<class 're.Match'>
I found the string
(59, 65)

In [120]:
str1 = "There is a problem with the screen ABCDEF because of SQL injection"

results = re.search("^SQL",str1) ### Starting with something, ending with something, contains something,
## Starting with ---> ^   Ending with ---> $          contains .*
print (type(results)) # Very complex object that we dont care
print( results.span() )
#print( results.string )
print( results.group() )

<class 'NoneType'>

AttributeError: 'NoneType' object has no attribute 'span'

In [7]:
import os
os.chdir(r'D:\Python Training\ML\Dataset')
l1 = os.listdir()
for j in l1:
    print(j + str(j.endswith('.csv')))

.RhistoryFalse
Attrition.csvTrue
BankLoan.csvTrue
boston.csvTrue
Copy of UC4 - Copy of Assignment 1 (Shameer)(15145)(16208).xlsFalse
helpdesk.csvTrue
mtcars.csvTrue
Regression mtcars.xlsxFalse
Rplot.pngFalse
telecom_churn.csvTrue

In [28]:
file = open(r'D:\Python Training\ML\Dataset\BankLoan.csv','r')

In [25]:
x = file.readline()

In [26]:
type(x)

str

In [27]:
x

',,Rejected,Approved,,Grand Total,,,,SPAM,HAM,,\n'

In [29]:
for x in file:
  print(x)

,,Rejected,Approved,,Grand Total,,,,SPAM,HAM,,

,Female,22,16,,38,0.421052632,41,30,10%,90%,Marginal,

,Male,35,27,,62,0.435483871,44,35,Lottery,,,

,,,,,,,,,20%,Conditional,,

,Grand Total,57,43,,100,,,,,,,

,,,,,,,,,,,,

,,,,,,,,,,,Proportion,Probability

,Question 1,What % of people are male and loan is approved,,,,,,27%,,Joint,,

,Question 2,"Given a loan is approved, what % represents female",,,,,,37%,,Conditional,,

,Question 3,What % of people is loans being approved in general,,,,,,43%,,Marginal ,,

,Question 3,What % of people are females,,,,,,38%,,Marginal ,,

,Question 2,Given it is a male what % represents Rejections,,,,,,56%,,Conditional,,

,,,,,,,,,,,,

,,,,,,,,,,,,

,Reality,Rejected,Approved,,,,,Male / Female,,,,

,Female,22,16,,,,,Approval,,,,

,Male,35,27,,>0.05,,,,,,,

,,,,,0.887484437,,,,,,,

,,,,,,,,,,,,

Expected,Female,21.66,16.34,,,,,,,,,

,Male,35.34,26.66,,,,,,,,,